{% extends 'base.html.twig' %}

{% block title %}
  OuiQuit - Accueil
{% endblock %}
{% block container %}
  <div class="container">
    <p>
      Site de gestion pour l'application OuiQuit réservé aux administrateurs
    </p>
  </div>
{% endblock %}
