* {
    box-sizing: border-box;
  }
  
body {
  margin: 0px;
  font-family: "Segoe UI", sans-serif;
  background-color: white;
}

.container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: aliceblue;
} 