{% extends 'base.html.twig' %}

{% block title %}
	OuiQuit - Utilisateurs
{% endblock %}

{% block container %}
	<div class="container">
		<h1>
			manage
		</h1>
        {{ form_start(form)}}
        {{form_end(form)}}
	</div>
{% endblock %}
