{% extends 'base.html.twig' %}

{% block title %}
  OuiQuit - Utilisateurs
{% endblock %}

{% block container %}
  <div class="container">
    <h1>
      Liste des utilisateurs
    </h1>
    {% for user in users %}
      <p>
        {{ user.email }}
      </p>
      {{dump (user)}}
      <p> {{ user.id }} {{ user.roles[0] }} </p>
    {% endfor %}
  </div>
{% endblock %}
